// Основные цвета
$mainColor: #353535; // Цвет шрифта по умолчанию
$secondaryColor: #2c99f5;
$thirdColor: #fff; // Второй красный цвет

// Минимальная ширина страницы
$minWidth: 320;

// Ширина полотна (макета)
$maxWidth: 1920;
